body{
  font-family: Arial, Helvetica, sans-serif;
}

.sub-btn{
  border: none;
  background-color: black;
  color: white;
  border-radius: 25px;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 30px;
}

.is-subscribed{
  background-color: rgb(240, 240, 240)  ;
  color: black;
}

.cost-input{
  font-size: 15px;
  padding: 10px;
}

.calc-btn{
  background-color: green;
  padding: 12.5px 15px;
  font-size: 15px;
  color: aliceblue;
  border: none;
  cursor: pointer;
}